*{
  margin: 0px;
}

header{
  background-color: blue;
}
.movie{
  width: 500px;
  height: 500px;
  background-color: grey;
}

.vs{
  width: 500px;
  height: 500px;
  background-color: grey;
}

footer{
  background-color: green;
  position: absolute;
  bottom: 0;
  width: 100%;
}

